@model IEnumerable<autopark.Models.Inspection>

@{
    ViewData["Title"] = "Список техосмотров";
}

<h1>Список техосмотров</h1>

<p>
    <a asp-action="Create">Добавить техосмотр</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                ГРЗ автомобиля
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
