@model autopark.Models.Car

@{
    ViewData["Title"] = Model.CarNumber +" - "+ Model.Model + " - Подробности";
}
    <h4>Подробности об автомобиле @Html.DisplayFor(model => model.CarNumber) - @Html.DisplayFor(model => model.Model)</h4>
    <div>

        <div>
            <a asp-action="Index">Назад</a> |
            <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Cars">Удалить</a>

        </div>

        <hr />


        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                Дата выпуска
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                ГРЗ автомобиля
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CarNumber)
            </dd>
            <dt class="col-sm-2">
                Дата учёта
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegDate)
            </dd>
        </dl>
        <hr />
        <style>
            .text {
                display: block;
                display: -webkit-box;
                max-width: 400px;
                height: 50px;
                margin: 0 auto;
                line-height: 1.2;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .table td, .table th {
                white-space: nowrap;
                overflow: hidden;
                padding: .25rem;
                }
        </style>

        <h4>Список техосмотров</h4>
        <a href="" data-toggle="modal" data-target="#exampleModalCentered">Добавить техосмотр</a>
        <table class="mytable table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Номер ТО
                    </th>
                    <th>
                        ГРЗ автомобиля
                    </th>
                    <th>
                        Замечания
                    </th>
                    <th>
                        Дата техосмотра
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Inspections.Count > 0)
                {
                    foreach (var item in Model.Inspections)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Car.CarNumber)
                            </td>
                            <td class="text">
                                @Html.DisplayFor(modelItem => item.InspNote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InspDate)
                            </td>
                            <td>
                                <a asp-controller="Inspections" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                                <a asp-controller="Inspections" asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                                <a asp-controller="Inspections" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            Записи о техосмотрах отсутствуют<br />
                            <a href="" data-toggle="modal" data-target="#exampleModalCentered">Добавить техосмотр</a>
                        </td>
                    </tr>
                }
            <tbody>
        </table>
    </div>


<div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Новый техосмотр для @Model.CarNumber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="myform" method="post" asp-controller="Inspections" asp-route-id="@Model.Id" asp-action="CreateInspectionFromCar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label">Замечания</label>
                        <textarea style="resize: vertical;max-height: 200px;"
                                  placeholder="Не более 500 символов"
                                  id="InspNote" name="InspNote"
                                  class="form-control rounded-0"
                                  rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Дата техосмотра</label>
                        <input class="datepicker form-control" placeholder="Вводится посредством календаря" id="InspDate" name="InspDate" />
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Добавить" class="btn btn-primary"  />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>